@media screen and (max-width: 1300px) {
  .events__content .img-block img {
    height: 450px;
  }
  .events__content .img-block .img-block:first-child .img-block__content {
    right: -27%;
  }
  .events__content .img-block .img-block:last-child .img-block__content {
    left: -27%;
  }
  .img-block__content {
    width: 377px;
    top: 41.5%;
  }
}

@media screen and (max-width: 1220px) {
  h1 {
    font-size: 65px;
  }
  .booking .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .booking .container > div {
    width: 80%;
  }
  .booking .img-block {
    display: none;
  }
  .booking .footer {
    padding-top: 40px;
  }
  .slider {
    height: 600px;
  }
  .slider .img-block img {
    height: 450px;
  }
  .slide__content h2 {
    line-height: 1.5em;
  }
}

@media screen and (max-width: 1050px) {
  .events__content {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 55px;
  }
  .slider .img-block .img-block__border {
    height: 170px;
    width: 170px;
    border: 13px solid #E8C300;
  }
  .slide__content h2 {
    font-size: 30px;
  }
  .slide__content b,
  .slide__content p {
    font-size: 12px;
  }
  .menu__options {
    margin-top: 20px;
  }
  .menu__options a {
    display: none;
  }
  .menu__options .menu__options__burger-menu {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    white-space: normal;
  }
  .navbar__menu a {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .timer {
    min-width: 200px;
    top: 40px;
  }
  .timer h1 {
    font-size: 30px;
  }
  .header__intro__links a {
    height: 45px;
    width: 45px;
    margin: 12px 0;
  }
  .header__intro__links a img {
    height: 15px;
  }
  .booking__content input[type="submit"] {
    width: 99%;
  }
  .slider {
    min-height: 850px;
    padding-left: 15px;
  }
  .slide {
    display: block;
  }
  .slide > div {
    width: 90%;
    margin: 0 auto;
  }
  .slide .img-block {
    width: 550px;
    text-align: center;
  }
  .slide .img-block__border {
    left: 0;
  }
}

@media screen and (max-width: 600px) {
  .burger-menu__nav {
    width: 160px;
  }
  .burger-menu__nav__wrapper {
    padding: 70px 20px 0;
  }
  .burger-menu__button {
    right: 12px;
  }
  .slider {
    min-height: 750px;
  }
  .slide .img-block {
    width: 450px;
  }
  .slide .img-block img {
    height: 350px;
  }
  .events__content .img-block img {
    height: 390px;
  }
  .events__content .img-block .img-block__content {
    width: 330px;
    top: 40.5%;
  }
  .events__content .img-block .img-block__content h2 {
    font-size: 20px;
  }
  .events__content .img-block .img-block__border {
    height: 160px;
    width: 160px;
    border: 14px solid #E8C300;
  }
}

@media screen and (max-width: 500px) {
  .input-block {
    margin: 0;
  }
  .input-block input, .input-block select {
    margin: 15px 0;
    width: 100%;
    display: block;
  }
  .slide .img-block {
    width: 340px;
  }
  .slide .img-block img {
    height: 300px;
  }
  .slide .img-block .img-block__border {
    height: 140px;
    width: 140px;
    border: 9px solid #E8C300;
  }
  .menu {
    padding: 40px 0;
  }
  .menu__content__block {
    margin: 10px 0;
  }
  .menu__content__block__item {
    margin: 10px auto;
  }
  .menu__content__block__item h3 {
    font-size: 15px;
  }
  .menu__content__block__item p {
    font-size: 11px;
  }
  .events__content .img-block img {
    height: 320px;
  }
  .events__content .img-block .img-block__content {
    width: 267px;
    top: 39.5%;
  }
  .events__content .img-block .img-block__border {
    height: 140px;
    width: 140px;
    border: 12px solid #E8C300;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  .timer {
    top: 90px;
  }
  .timer h1 {
    font-size: 25px;
  }
  .header__intro__content a {
    margin: 25px 0 10px 0;
    width: 140px;
    font-size: 10px;
  }
  .slider p,
  .slider b {
    line-height: 1.5em;
  }
  .slide > div {
    width: 98%;
  }
  .slide .img-block {
    width: 280px;
  }
  .slide .img-block img {
    height: 250px;
  }
  .slide .img-block .img-block__border {
    height: 120px;
    width: 130px;
    border: 7px solid #E8C300;
  }
  .menu__content__block__item h3 {
    font-size: 13px;
  }
  .menu__content__block__item p {
    font-size: 10px;
  }
  .events__content .img-block {
    margin: 0 !important;
  }
  .events__content .img-block img {
    height: 230px;
  }
  .events__content .img-block .img-block__content {
    width: 200px;
    top: 39.5%;
  }
  .events__content .img-block .img-block__content h2 {
    padding: 15px;
    font-size: 15px;
  }
  .events__content .img-block .img-block__border {
    height: 120px;
    width: 120px;
    border: 9px solid #E8C300;
  }
}
/*# sourceMappingURL=media.css.map */